
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


body{
    background-color: cadetblue;
    font-family: 'Inter', sans-serif;
    margin: 0;
}


ul {
    list-style: none;
    padding: 0;
}

p.title-text{
    margin:auto;
    
}

img.header-logo{
    margin-left: 10px;
}


header {   
    background-color: black;
    background-image: linear-gradient(180deg, #4c7e80 0%, cadetblue 35%);
    max-height: 120px;
    justify-content: space-around;
    font-weight: 400;
    display: flex;
}
header div{
    align-content: center;
}

header div ul{
    margin: auto;
}


img.header-logo {
    display: flex;
    width: 120px; 
    padding-left: 4px;
    padding-top: 3px;
}

main {
    margin: auto;
    max-width: 800px;    
}

main section{
    padding-top: 7px;
}

section ul{
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
}

p.text-link {
    text-align:center;
    padding: 5px;
    text-decoration: none;
    color: white;
    margin: auto;
}

main section div ul{
   display: flex;  
}


li.box-width{
    background-image: linear-gradient(30deg, rgb(45, 64, 74) 77%, rgb(42, 90, 115) 88%, rgb(84, 161, 201) 101%);
    border-radius: 8px;
    margin: 8px;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 180px;
    color:white;
    transition: transform .3s;
    margin-top: 15px;
    height: auto;
}

li.box-width:hover{
    transform:translateY(-15px);     
}



.img-witdh {
    width: 160px;
    transition: transform .3s;
}

button{
    cursor: pointer;
    outline: none;
}



.btn-buy{
    opacity: 0;
    position: absolute;
    border: none;
    bottom: 0px;
    left: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 25px;
    background-color: rgb(54, 124, 161);
}

li.box-width:hover .btn-buy{
    opacity: 1;
    transition: 0.5s bac;
    
}





/* Animações */


